graphql:
  servlet:
    mapping: /graphql
    enabled: true
    corsEnabled: true
spring:
  datasource:
    url: jdbc:h2:file:C:/h2/data/testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2